{% load static %}
<!DOCTYPE html>
<html>
	<head>
	<!--css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/css/uikit.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- end css -->
		{% if title %}
		<title>Blogging Network - {{title}}</title>
		{% else %}
		<title>Blogging Network</title>
		{% endif %}
	</head>
	<body>
		<nav class="uk-navbar-container uk-margin uk-navbar-transparent">
			<div class="uk-container">
				<div class="uk-navbar">
					<div class="uk-navbar-left">
						<a class="uk-navbar-item uk-logo uk-visible@s" href="{% url 'blog_home' %}">Blogging Network</a>
						<ul class="uk-navbar-nav uk-hidden@s">
							<li><a href="#offcanvas-nav-primary" uk-toggle uk-icon="icon: menu; ratio: 1.5"></a></li>
						</ul>
					</div>
					<div class="uk-navbar-right uk-visible@s">
						<ul class="uk-navbar-nav">
							{% if user.is_authenticated %}
							<li class="{{ post_create }}"><a href="{% url 'post_create' %}" uk-icon="icon: file-edit; ratio: 1.5"></a></li>
							<li class="{{ profile }}"><a href="{% url 'profile' %}" uk-icon="icon: user; ratio: 1.5"></a></li>
							<li><a href="{% url 'logout' %}" uk-icon="icon: sign-out; ratio: 1.5"></a></li>
							{% else %}
							<li><a href="{% url 'login' %}">Login</a></li>
							<li class="{{ register }}"><a href="{% url 'register' %}">Register</a></li>
							{% endif %}
						</ul>
					</div>
					<div class="uk-navbar-center uk-hidden@s">
						<a class="uk-navbar-item uk-logo uk-hidden@s" href="{% url 'blog_home' %}">Blogging Network</a>
					</div>
				</div>
			</div>
		</nav>
		<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
			<div class="uk-offcanvas-bar uk-flex uk-flex-column">
				<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
					{% if user.is_authenticated %}
					<li class="{{ post_create }}"><a href="{% url 'post_create' %}" uk-icon="icon: file-edit; ratio: 1.5">Create Post &nbsp;&nbsp;</a></li>
					<li class="{{ profile }}"><a href="{% url 'profile' %}" uk-icon="icon: user; ratio: 1.5">Profile &nbsp;&nbsp;</a></li>
					<li><a href="{% url 'logout' %}" uk-icon="icon: sign-out; ratio: 1.5">Sign Out &nbsp;&nbsp;</a></li>
					{% else %}
					<li><a href="{% url 'login' %}">Login</a></li>
					<li class="{{ register }}"><a href="{% url 'register' %}">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="uk-container uk-text-break">
			{% if messages %}
				{% for message in messages %}
					<div class="uk-alert-success" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>{{message}}</p>
					</div>
				{% endfor %}
			{% endif %}
			{% block content %}{% endblock %}
		</div>
		<!-- UIkit JS -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit-icons.min.js"></script>
	</body>
</html>
