{% extends "blogs/base.html" %}
{% block content %}
<div class="uk-text-center uk-card uk-card-body uk-card-default uk-padding-small uk-border-circle uk-box-shadow-xlarge" style="position: fixed;right:45px;bottom:45px;z-index: 3" />
	<form class="uk-inline">
		{% csrf_token %}
		<button id="like-button" uk-icon="icon: heart; ratio: 1.2" onclick="like();return false;" class="{{liked}}" ></button>
	</form>
	<br />
	<span id="numLike">{{object.likes.count}}</span>
</div>
<div>
	<div class="uk-card uk-card-hover uk-card-default bn-round-corner">
		<div class="uk-card-header">
			<h3 class="uk-card-title uk-margin-remove-bottom">{{object.title}}</h3>
			<p class="uk-margin-remove-top uk-margin-remove-bottom">{{object.date_posted|date:'F d, Y'}}</p>
			{% if object.category %}
			<p class="uk-margin-remove-top"><a class="uk-text-muted" href="{% url 'cat_posts' object.category %}">{{object.category}}</a></p>
			{% else %}
			<p class="uk-margin-remove-top"><a href="#" class="uk-text-muted">Uncategorized</a></p>
			{% endif %}

		</div>
		<div class="uk-card-body">
			<p>{{object.content | safe }}</p>
		</div>
		<div class="uk-card-footer uk-padding-small">
			<div class="uk-grid-small" uk-grid>
				<div class="uk-width-auto">
					<img class="uk-border-circle" width="30" height="30" src="{{ object.author.profile.image.url }}" /> 
				</div>
				<div class="uk-width-expand uk-flex-middle">
					<a class="uk-text-small uk-text-muted" href="{% url 'user_posts' object.author.username %}">{{object.author}}</a>
				</div>
				<div class="uk-width-auto">
					{% if object.author == user %}
					<a href="{% url 'post_update' object.id %}" uk-icon="icon: pencil; ratio: 1.2" class="uk-margin-left"></a>
					<a href="{% url 'post_delete' object.id %}" uk-icon="icon: trash; ratio: 1.2" class="uk-text-danger uk-margin-left"></a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="uk-width-auto uk-align-center">
	{% include './elements/comments/root.html' with comments=comments blog_id=object.id user=user csrf_token=csrf_token only %}
	</div>
	<h3>Recommend for you</h3>
	<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-small uk-margin-bottom" uk-grid="masonry:true">
		{% for post in object.recommend %}
		{% include "./elements/blog_card.html" with post=post only %}
		{% endfor %}
	</div>
</div>
<script type="text/javascript">

	function getCookie(name) {
	      var re = new RegExp(name + "=([^;]+)");
	      var value = re.exec(document.cookie);
	      return (value != null) ? unescape(value[1]) : null;
	}

	function like(){
		var likereq = new XMLHttpRequest();
		var btn_class = "uk-text-danger"
		likereq.open('POST', "{% url 'post_like' object.id %}", true);
		likereq.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
		likereq.onload = function(){
			var p1 = likereq.responseURL.indexOf("/")
			var p2 = likereq.responseURL.indexOf("/", p1+1)
			var p3 = likereq.responseURL.indexOf("/", p2+1)
			if(likereq.responseURL.slice(p3) == "{% url 'post_like' object.id %}"){
				var res = JSON.parse(likereq.response)
				if(res.liked){
					var btn = document.getElementById("like-button")
					btn.classList.add(btn_class)
				} else {
					var btn = document.getElementById("like-button")
					btn.classList.remove(btn_class)
				}
				document.getElementById("numLike").innerHTML = res.numOfLikes
			} else {
				var pl = likereq.responseURL.lastIndexOf("/")
				window.location.replace(likereq.responseURL.slice(0, pl))
			}
		};
		likereq.onerror = function(){
			console.log(likereq.status)
		};
		likereq.send();
	}
</script>
{% endblock content %}
