{% extends 'admin/change_list.html' %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}


{% block content %}
<div style="display:inline-block;margin-bottom:18px;">
<div style="height:300px;">
	<canvas id="usershare_canvas"> </canvas>
	<script>
		var cont_data = {{ user_login_logs | safe }};
		var ctx = document.getElementById('usershare_canvas');
		var labels = []
		var data = []
		cont_data.forEach(function (item, index){
			labels.push(item.login_date);
			data.push(item._logins);
		});
		var view_like_chart = new Chart(ctx,
			{
				type: 'bar',
				data: {
					labels: labels,
					datasets: [{
						data: data,
						backgroundColor: ["#407899", "#DE6449", "#791E94"],
					}],
				},
				options: {
					legend: {
						display: false
					},
					title: {
						display: true,
						text: "Login by date",
					},
					responsive: true,
					maintainAspectRatio: false,
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
							}
						}]
					},
				}
			}
		);
		view_like_chart.render();
		
	</script>
</div>
</div>
{{ block.super }}
{% endblock %}
