{% extends "blogs/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="uk-margin-top">
	<div class="uk-card uk-card-default uk-card-hover uk-width-2-3@m uk-align-center">
		<div class="uk-card-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-auto">
					<img class="uk-border-circle" width="80" height="80" src="{{ user.profile.image.url }}" /> 
				</div>
				<div class="uk-width-expand uk-margin-left">
					<h3 class="uk-card-title uk-margin-remove-bottom">{{ user.username }}</h3>
					<p class="uk-margin-remove-top">{{ user.email }}</p>
				</div>
			</div>
		</div>
		<div class="uk-card-body">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% if u_form.non_field_errors %}
					{% for err in u_form.non_field_errors %}
						<div class="uk-alert-danger">
							{{ err }}
						</div>
					{% endfor %}
				{% endif %}
				<fieldset class="uk-fieldset">
					<legend class="uk-legend">Update your profile</legend>
					{% for field in u_form %}
						<div class="uk-margin">
							{% if field.errors %}
								{% render_field field class="uk-input uk-formform-danger" placeholder=field.label %} <br />
								<ul class="uk-margin-remove">
									{% for err in field.errors %}
										<li class="uk-margin-remove uk-text-danger uk-text-small">{{err}}</li>
									{% endfor %}
								</ul>
							{% else %}
								{% render_field field class="uk-input" placeholder=field.label %} <br />
							{% endif %}
							{% if field.help_text %}
								<div class="uk-margin-remove uk-text-small uk-text-muted">{{field.help_text}}</div>
							{% endif %}
						</div>
					{% endfor %}
				</fieldset>
				{% if p_form.non_field_errors %}
					{% for err in p_form.non_field_errors %}
						<div class="uk-alert-danger">
							{{ err }}
						</div>
					{% endfor %}
				{% endif %}
				<fieldset class="uk-fieldset">
					{% for field in p_form %}
						<div class="uk-margin">
							{% if field.field.widget.input_type == "file" %}
								{% render_field field id="upload_file" style="display:none"%}
								<button class="uk-button" type="button" onclick="upload_file_func();"> Change Profile Picture </button>
								<span class="uk-margin-left" id="select_file_name"></span>
							{% else %}
								{% render_field field class="uk-input" placeholder=field.label %} <br />
							{% endif %}
						</div>
					{% endfor %}
				</fieldset>
				<button class="uk-button uk-button-secondary" type="submit">Update</button>	
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	var elem = document.getElementById("upload_file");
	elem.onchange = function(){
		document.getElementById("select_file_name").innerHTML = elem.files[0].name
	}
	function upload_file_func(){
		var elem = document.getElementById("upload_file");
		elem.click();
	}
</script>
{% endblock content %}
