{% extends "blogs/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="uk-margin-top">
	<div class="uk-card uk-card-default uk-card-hover uk-width-2-3@m uk-align-center">
		<div class="uk-card-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-auto">
					<img class="uk-border-circle" width="80" height="80" src="{{ user.profile.image.url }}" /> 
				</div>
				<div class="uk-width-expand uk-margin-left">
					<h3 class="uk-card-title uk-margin-remove-bottom">{{ user.username }}</h3>
					<p class="uk-margin-remove-top">{{ user.email }}</p>
				</div>
			</div>
		</div>
		<div class="uk-card-body">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% include 'uikit_form_formatter/form.html' with form=u_form only %}
				{% include 'uikit_form_formatter/form.html' with form=p_form only %}
				<button class="uk-button uk-button-secondary" type="submit">Update</button>	
			</form>
		</div>
	</div>
</div>
{% endblock content %}
