{% extends "blogs/base.html" %}
{% block content %}
<div class="uk-margin-top">
	<div class="uk-card uk-card-default uk-card-hover uk-width-2-3@m uk-align-center">
		<div class="uk-card-header">
			<div class="uk-grid-small uk-flex-middle" uk-grid>
				<div class="uk-width-auto">
					<img class="uk-border-circle" width="80" height="80" src="{{ user.profile.image.url }}" /> 
				</div>
				<div class="uk-width-expand uk-margin-left">
					<h3 class="uk-card-title uk-margin-remove-bottom">{{ user.username }}</h3>
					<p class="uk-margin-remove-top">{{ user.email }}</p>
				</div>
			</div>
		</div>
		<div class="uk-card-body">
			<p> Hello My name is {{ user.username }} </p>
		</div>
	</div>
</div>
{% endblock content %}
