{% extends 'admin/change_list.html' %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}


{% block content %}
<div style="display:inline-block;margin-bottom:18px;">
<div style="height:300px;">
	<canvas id="view_like"> </canvas>
	<script>
		var cont_data = {{ view_like_data | safe }};
		var ctx = document.getElementById('view_like');
		var view_like_chart = new Chart(ctx,
			{
				type: 'pie',
				data: {
					labels: ['Number of view', 'Number of like', "Number of comments"],
					datasets: [{
						data: [cont_data._view_count, cont_data._like_count, cont_data._comment_count],
						backgroundColor: ["#407899", "#DE6449", "#791E94"],
					}],
				},
				options: {
					title: {
						display: true,
						text: "View to like ratio",
					},
					responsive: true,
					maintainAspectRatio: false,
				}
			}
		);
		view_like_chart.render();
		
	</script>
</div>
</div>
<div style="display:inline-block;margin-bottom:18px;">
<div style="height:300px;">
	<canvas id="usershare_canvas"> </canvas>
	<script>
		var cont_data = {{ usershare_data | safe }};
		var ctx = document.getElementById('usershare_canvas');
		var labels = []
		var data = []
		cont_data.forEach(function (item, index){
			labels.push(item.author__username);
			data.push(item.view_count);
		});
		var view_like_chart = new Chart(ctx,
			{
				type: 'pie',
				data: {
					labels: labels,
					datasets: [{
						data: data,
						backgroundColor: ["#407899", "#DE6449", "#791E94"],
					}],
				},
				options: {
					title: {
						display: true,
						text: "User View Share",
					},
					responsive: true,
					maintainAspectRatio: false,
				}
			}
		);
		view_like_chart.render();
		
	</script>
</div>
</div>
{{ block.super }}
{% endblock %}
