<li class="uk-margin-remove-top uk-margin-left uk-margin-right" id="comment_id_{{comment.id}}">
	<article class="uk-comment uk-padding-small">
		<header class="uk-comment-header uk-grid-medium uk-flex-middle uk-margin-bottom-small" uk-grid>
			<div class="uk-width-auto">
				<img class="uk-comment-avatar" src="{{comment.user.profile.image.url}}" width="60" height="60" alt="" />
			</div>
			<div class="uk-width-expand">
				<h4 class="uk-comment-title uk-margin-remove">
					<a class="uk-link-reset" href="{% url 'user_posts' comment.user.username %}">{{comment.user.username}}</a>
				</h4>
				<ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
					<li>{{comment.date_posted|date:'F d, Y'}}</li>
					{% if user == comment.user %}
					<form onSubmit="return false;">
						<li><button type="button" onclick="dcomment({{comment.id}});" class="uk-button uk-button-text uk-text-muted">Delete</button></li>
					</form>
					{% endif %}
				</ul>
			</div>
		</header>
		 <div class="uk-comment-body">
			 <p>{{comment.content}}</p>
		 </div>
		 <hr />
	</article>
</li>
