<div class="uk-card uk-card-default uk-card-hover">
	<div class="uk-card-header">
		<h4>Comments {{ comments.count }}</h4>
		{% if user.is_authenticated %}
		<script type="text/javascript">
			function comment(inid){
				var commentreq = new XMLHttpRequest();
				commentreq.open('POST', "{% url 'post_comment' blog_id %}", true);
				commentreq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				commentreq.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
				commentreq.onload = function(){
					var comroot = document.getElementById("comments_root");
					comroot.innerHTML = commentreq.responseText + comroot.innerHTML
					document.getElementById(inid).value = "";
				};
				commentreq.onerror = function(){
					console.log(commentreq.status)
				};
				commentreq.send('content='+document.getElementById(inid).value);
			}
			function keyUpComment(e, inid){
				if(e.keyCode == 13){
					comment(inid);
				}
			}
			function dcomment(cid){
				var dcomreq = new XMLHttpRequest();
				dcomreq.open('POST', "{% url 'comment_delete' blog_id %}", true);
				dcomreq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				dcomreq.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
				dcomreq.onload = function(){
					if(dcomreq.responseText == "deleted"){
						document.getElementById("comment_id_"+cid).remove();
					}
				};
				dcomreq.onerror = function(){
					console.log(dcomreq.status)
				};
				dcomreq.send('cid='+cid);
			}	
		</script>
		<form onSubmit="return false;">
			{% csrf_token %}
			<input name="content" id="post_comment" type="text" class="uk-input uk-margin-small-bottom" placeholder="Post Comment" onkeyup="keyUpComment(event, 'post_comment')" />
			<button type="button" class="uk-button uk-button-primary uk-align-right uk-margin-remove-bottom" onclick="comment('post_comment');" >Comment</button>
		</form>
		{% endif %}
	</div>
	<div class="uk-card-body uk-padding-remove">
		<ul class="uk-comment-list" id="comments_root">
			{% for comment in comments %}
				{% include './comment_card.html' with comment=comment user=user only %}
			{% endfor %}
		</ul>
	</div>
</div>
